In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [15]:
nick_info = pd.read_csv('../data/nickname.csv')
char_info = pd.read_csv('../data/char_info.csv')
stat_info = pd.read_csv('../data/stat.csv')
pop_info = pd.read_csv('../data/popularity.csv')
dojang_info = pd.read_csv('../data/dojang.csv')
symbol_info = pd.read_csv('../data/symbol_info.csv')

In [16]:
nick_info.shape, char_info.shape, stat_info.shape, pop_info.shape, dojang_info.shape, symbol_info.shape

((500, 1), (497, 16), (495, 5), (500, 3), (500, 7), (500, 4))

In [17]:
symbol_info.head(3)

,date,character_class,symbol,nickname
0,NaN,아델,"[{'symbol_name': '아케인심볼 : 모라스', 'symbol_icon':...",아델
1,NaN,듀얼블레이더,"[{'symbol_name': '아케인심볼 : 소멸의 여로', 'symbol_ico...",치어
2,NaN,데몬어벤져,"[{'symbol_name': '아케인심볼 : 아르카나', 'symbol_icon'...",흡혈